*{
    margin: 0;
    padding: 0;
}

.container{
    width: 50vw;
    height: 50vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all;
    transition-delay: 2s;
    transition-duration: 10s;
    transition-timing-function: ease-in-out;

}
.box{
    width: 200px;
    height: 200px;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all;
    /* transition-delay: 1s; */
    transition-duration: 10s;
    transition-timing-function: ease-in-out;


}

.box:hover{
    background-color: purple;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    transform: rotate(180deg);
    /* transform: skew(50deg); */
    /* transform: scale(2); */
    /* transform: translateX(120px); */

}
.container:hover{
    transform: skew(180deg);
}

