* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Montserrat", sans-serif;
}

body{
    margin-left:10px ;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    margin: 20px;
}

 

.first-icon img {
    width: 100px;
}

.first-icon span {
    margin: 10px;
    font-size: 20PX;
}

.right-side-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-icon {
    margin: 20px;
    padding: 15px 10px 15px 10px;
    border-radius: 25px;
    border: 1px solid rgb(228, 226, 226);
    /* box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);; */
}

.right-icon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.nav-bar {
    width: 45vw;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 35px;
    padding: 0 20px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 30%;
    margin-top: -20px;
    overflow: hidden;

}

.nav1 {
    overflow: hidden;
    width: 200px;
    height: 60px;
    margin-left: -25px;
    padding-left:  35px;
    padding-top: 5px;
    
}

.nav2 {
    padding: 10px 15px;
    font-size: 14px;
    color: black;
    border-left: 1PX SOLID rgb(212, 209, 209);
    /* line-height: 10px; */
    overflow: hidden;

}


.nav-bar span:hover {
    height: 30PX;
    background-color: #ddd;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.nav-down {
    color: gray;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(196, 191, 191);
    padding-top: 40px;
    margin-left: 20px;
    /* color: grey; */
}

section  img{
   width: 20px;
   height: 20px;
   color: grey;
 
    
}
 .grid-container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    margin-left: 20px;
    column-gap: 50px;
    
 }

 .grid-item{
    /* background-color: blue; */
    padding: 25px;
    text-align: center;
    padding-bottom: 230px;
    border-radius: 5px;
   
 }

 #item1{
    background-image:url(./images/imagepic1.png) ;
    background-size: cover;
    
 }
 
 #item2{
    background-image:url(./images/imagepic2.png) ;
    background-size: cover;
    
 }

 .grid-span{
    margin-left: 20px;
    display: flex;
 }

 .grid-container2{
    width: 100vw;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    column-gap: 30px;
    display: flex;
 }
 .grid-new-item{
    background-color: blue;
    padding: 25px;
    text-align: center;
    padding-bottom: 230px;
    padding-right: 250px;
    border-radius: 5px;

   
 }

 #product1{
    background-image: url(./images/productimg1.png);
    background-size: cover;
 }

 #product2{
    background-image: url(./images/product1mg2.png);
    background-size: cover;
 }
 #product3{
    background-image: url(./images/productimg3.png);
    background-size: cover;
 }
 #product4{
    background-image: url(./images/productimg4.png);
    background-size: cover;
 }

 .grid-span2{
   
    display: flex;
   

 }


 .grid-container3{
    width: 100vw;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    column-gap: 30px;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
 }
 .grid-new-item01{
    /* background-color: blue; */
    padding: 25px;
    text-align: center;
    padding-bottom: 230px;
    padding-right: 250px;
    border-radius: 5px;

   
 }

 #product5{
    background-image: url(./images/productimg5.png);
    background-size: cover;

 }
 
 #product6{
    background-image: url(./images/productimg6.png);
    background-size: cover;

 }
 #product7{
    background-image: url(./images/productimg7.png);
    background-size: cover;
 }

 #product8{
    background-image: url(./images/productimg8.png);
    background-size: cover;
 }

 .grid-span3{
   
    display: flex;
   

 }

 
 #product9{
    background-image: url(./images/productimg9.png);
    background-size: cover;

 }
 
 #product10{
    background-image: url(./images/productimg10.jpeg);
    background-size: cover;

 }
 #product11{
    background-image: url(./images/productimg11.png);
    background-size: cover;
 }

 #product12{
    background-image: url(./images/productimg12.png);
    background-size: cover;
 }

  
 #product13{
   background-image: url(./images/imagepic13.png);
   background-size: cover;

}

#product14{
   background-image: url(./images/imagepic.14.jpg);
   background-size: cover;

}
#product15{
   background-image: url(./images/imagepic16.png);
   background-size: cover;
}

#product16{
   background-image: url(./images/imagepic.15.png);
   background-size: cover;
}
  
#product17{
   background-image: url(./images/imagepic17.png);
   background-size: cover;

}

#product18{
   background-image: url(./images/imagepic18.png);
   background-size: cover;

}
#product19{
   background-image: url(./images/imagepic.19.png);
   background-size: cover;
}

#product20{
   background-image: url(./images/imagepic20.jpeg);
   background-size: cover;
}
#product21{
   background-image: url(./images/imagepic21.png);
   background-size: cover;
}
@media only screen and (max-width: 600px) {
   .header {
     display: none;  /* Hide the header on small screens */
   }
}
 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  .head-sect p{
   font-family: "Montserrat", sans-serif;
   font-size:x-large;
  }

  .head-sect{
   width: 100vw;
   height: 700px;
 
  position: relative;
  background-color: rgb(242, 242, 242);
  /* margin-left: -10px; */
  }

  .head-sect p{
   position: absolute;
   top: 50px;
   
  }
  .spans{
    width: 1000px;
    height: 50px;
    /* border: 1px solid black; */
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: absolute;
   top: 80px;
   font-family:"Montserrat", sans-serif; ;
  }
  .down-span{
   opacity: 0.8;
  }

  .grid-contain {
   display: grid;
   /* border: 1px solid black; */
   width: 1200px;
   /* border-top: 1px solid grey;
   border-bottom: 1px solid grey; */
   grid-template-columns: repeat(6, 1fr); /* 6 equal columns */
   grid-template-rows: repeat(3, auto); /* rows adjust based on content */
   gap: 10px;
   list-style: none; /* Remove bullet points */
  margin: -20px;
   position: relative;
   top: -600px;
   z-index: 1;
 }
 
 .grid-items {
   /* background-color: #f0f0f0; */
   padding: 20px;
   /* border: 1px solid #ccc; */
   text-align: center;
 }
 
 .title {
   font-weight: bold;
   font-size: small;
 }
 
 .description {
   margin-top: 10px;
   font-size: 1em;
   opacity: 0.8;
 }
