*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin: 20px;
}

.first-icon img{
    width: 100px;
}

.first-icon span{
    margin: 10px;
    font-size: 20PX;
}
.right-side-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-icon{
    margin: 20px;
    padding: 15px 10px 15px 10px;
    border-radius: 25px;
    border: 1px solid rgb(228, 226, 226);
    /* box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);; */
}
.right-icon:hover{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;


}
.nav-bar{
    width: 40vw;
    height: 60px;
    border: 1px solid black;
    display: flex;
    border-radius: 25px;

}