
.parent {
    position: relative; 
    width: 800px;      
    height: 400px;     
    background-color: #f0f0f0; 
}
#img{
    width: 200px;
    height: 200px;
    position: absolute; 
    top: 0px;
    right: 0px;
    border-radius: 50%; 
    background-size: cover;
    box-shadow: 4px 10px 10px rgba(210, 22, 22, 0.2);
    border: 1px solid black;
}


