.list{
    color: green;
}
.table,th,td{
    border: 1px solid  black;
    border-collapse: collapse;
    padding: 3px;
}
.navbar{
    display: flex;
    justify-content:flex-start;   
    
}
.navbar a:hover{
    color: red;
}
.button{
    background-color: green;
}


.text-content{
    color: blue;
}
.intro{
    background-color: red;
}
.details{
   background-color: green;

}
.conclusion{
    background-color: brown;
}
.footer{
    background-color: gray;
}
.alert{
    background-color: yellow;
    color: red;
}
blockquote{
    font-family: italic;
}
footer{
    background-color: whitesmoke;
}




