.first{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}
.main{
    border: 5px solid white;
    height: 60px;
    background-color: black;
}
.span{
    color: orange;
    font-size: 25px;
}
a{
    padding-left: 200px;
    color: white;
}
.span1{
    color: white;
    padding-left: 200px;
}
#first{
    margin-left: 200px;
}
.second{
    color: white;
    background-color: #f08804;
}
.account{
    text-decoration: none;
}